@import '../fonts/ProximaNova.css';

html
{
  box-sizing: border-box;
}

*, *:before, *:after
{
  box-sizing: inherit;
}

html, body, p, div
{
	font-family: 'Proxima Nova Regular';
}

h1
{
	font-family: 'Proxima Nova Black';
}

h2, h3, h4, h5, h6
{
	font-family: 'Proxima Nova Bold';
}

strong
{
	font-family: 'Proxima Nova Bold';
}

.btn
{
	text-transform: uppercase;
	font-family: 'Proxima Nova Bold';
}

.btn:focus
{
  outline: none !important;
}

.et-btn-red
{
	border-color: #e15a64 !important;
	background-color: #e15a64 !important;
	color: #ffffff !important;
}
.et-btn-red:hover,
.et-btn-red:active,
.btn-group.open .et-btn-red
{
	border-color: #cb414b !important;
	background-color: #cb414b !important;
	color: #ffffff !important;
}

.et-btn-yellow
{
	border-color: #ecd53b !important;
	background-color: #ecd53b !important;
	color: #ffffff !important;
}
.et-btn-yellow:hover,
.et-btn-yellow:active,
.btn-group.open .et-btn-yellow
{
	border-color: #d9c022 !important;
	background-color: #d9c022 !important;
	color: #ffffff !important;
}

.et-btn-yellow-dark
{
	border-color: #d9c022 !important;
	background-color: #d9c022 !important;
	color: #ffffff !important;
}
.et-btn-yellow-dark:hover,
.et-btn-yellow-dark:active,
.btn-group.open .et-btn-yellow-dark
{
	border-color: #c9b012 !important;
	background-color: #c9b012 !important;
	color: #ffffff !important;
}

.et-btn-green
{
	border-color: #54dfb3 !important;
	background-color: #54dfb3 !important;
	color: #ffffff !important;
}
.et-btn-green:hover, .et-btn-green:active,
.btn-group.open
.et-btn-green
{
	border-color: #3aca9c !important;
	background-color: #3aca9c !important;
	color: #ffffff !important;
}

.et-btn-blue
{
	border-color: #6bc6ce !important;
	background-color: #6bc6ce !important;
	color: #ffffff !important;
}
.et-btn-blue:hover,
.et-btn-blue:active,
.btn-group.open .et-btn-blue
{
	border-color: #52afb8 !important;
	background-color: #52afb8 !important;
	color: #ffffff !important;
}

.et-btn-indigo
{
	border-color: #b48b9b !important;
	background-color: #b48b9b !important;
	color: #ffffff !important;
}
.et-btn-indigo:hover,
.et-btn-indigo:active,
.btn-group.open .et-btn-indigo
{
	border-color: #9c7283 !important;
	background-color: #9c7283 !important;
	color: #ffffff !important;
}

.et-btn-arctic
{
	border-color: #f3f3f3 !important;
	background-color: #f3f3f3 !important;
	color: #ffffff !important;
}
.et-btn-arctic:hover,
.et-btn-arctic:active,
.btn-group.open .et-btn-arctic
{
	border-color: #656565 !important;
	background-color: #656565 !important;
	color: #ffffff !important;
}

.et-btn-stone
{
	border-color: #777777 !important;
	background-color: #777777 !important;
	color: #ffffff !important;
}
.et-btn-stone:hover,
.et-btn-stone:active,
.btn-group.open .et-btn-stone
{
	border-color: #656565 !important;
	background-color: #656565 !important;
	color: #ffffff !important;
}

.et-btn-stone-light
{
	border-color: #999999 !important;
	background-color: #999999 !important;
	color: #ffffff !important;
}
.et-btn-stone-light:hover,
.et-btn-stone-light:active,
.btn-group.open .et-btn-stone-light
{
	border-color: #777777 !important;
	background-color: #777777 !important;
	color: #ffffff !important;
}

.et-btn-white
{
	border-color: #ffffff !important;
	background-color: #ffffff !important;
	color: #111111 !important;
}
.et-btn-white:hover,
.et-btn-white:active,
.btn-group.open .et-btn-white
{
	border-color: #dddddd !important;
	background-color: #dddddd !important;
	color: #111111 !important;
}

.et-btn-white-only
{
	border-color: #ffffff !important;
	background-color: #ffffff !important;
	color: #111111 !important;
}
.et-btn-white-only:hover,
.et-btn-white-only:active,
.btn-group.open .et-btn-white-only
{
	border-color: #ffffff !important;
	background-color: #ffffff !important;
	color: #111111 !important;
}

.et-btn-aluminium
{
	border-color: #e2e2e2 !important;
	background-color: #e2e2e2 !important;
}
.et-btn-aluminium:hover,
.et-btn-aluminium:active,
.btn-group.open .et-btn-aluminium
{
	border-color: #c0c0c0 !important;
	background-color: #c0c0c0 !important;
}

.et-btn-charcoal
{
	border-color: #b9b9b9 !important;
	background-color: #b9b9b9 !important;
	color: #ffffff !important;
}
.et-btn-charcoal:hover,
.et-btn-charcoal:active,
.btn-group.open .et-btn-charcoal
{
	border-color: #9d9d9d !important;
	background-color: #9d9d9d !important;
	color: #ffffff !important;
}
