@import '../server/ui/fonts/ProximaNova.css';

body
{
	font-family: 'Proxima Nova Regular';
}

.btn
{
	text-transform: uppercase;
}

.et-btn-red
{
	border-color: #e15a64 !important;
	background-color: #e15a64 !important;
	color: #ffffff;
}

.et-btn-red:hover, .et-btn-red:active,
.btn-group.open .et-btn-red
{
	border-color: #cb414b !important;
	background-color: #cb414b !important;
	color: #ffffff;
}

.et-btn-yellow
{
	border-color: #ecd53b !important;
	background-color: #ecd53b !important;
	color: #ffffff;
}

.et-btn-yellow:hover, .et-btn-yellow:active,
.btn-group.open .et-btn-yellow
{
	border-color: #d9c022 !important;
	background-color: #d9c022 !important;
	color: #ffffff;
}

.et-btn-green
{
	border-color: #54dfb3 !important;
	background-color: #54dfb3 !important;
	color: #ffffff;
}

.et-btn-green:hover, .et-btn-green:active,
.btn-group.open .et-btn-green
{
	border-color: #3aca9c !important;
	background-color: #3aca9c !important;
	color: #ffffff;
}

.et-btn-blue
{
	border-color: #6bc6ce !important;
	background-color: #6bc6ce !important;
	color: #ffffff;
}

.et-btn-blue:hover, .et-btn-blue:active,
.btn-group.open .et-btn-blue
{
	border-color: #52afb8 !important;
	background-color: #52afb8 !important;
	color: #ffffff;
}

.et-btn-indigo
{
	border-color: #b48b9b !important;
	background-color: #b48b9b !important;
	color: #ffffff;
}

.et-btn-indigo:hover, .et-btn-indigo:active,
.btn-group.open .et-btn-indigo
{
	border-color: #9c7283 !important;
	background-color: #9c7283 !important;
	color: #ffffff;
}

.et-btn-arctic
{
	border-color: #f3f3f3 !important;
	background-color: #f3f3f3 !important;
	color: #ffffff;
}

.et-btn-arctic:hover, .et-btn-arctic:active,
.btn-group.open .et-btn-arctic
{
	border-color: #656565 !important;
	background-color: #656565 !important;
	color: #ffffff;
}

.et-btn-stone
{
	border-color: #777777 !important;
	background-color: #777777 !important;
	color: #ffffff;
}

.et-btn-stone:hover,
.et-btn-stone:active,
.btn-group.open .et-btn-stone
{
	border-color: #656565 !important;
	background-color: #656565 !important;
	color: #ffffff;
}

.et-btn-aluminium
{
	border-color: #e2e2e2 !important;
	background-color: #e2e2e2 !important;
}

.et-btn-aluminium:hover, .et-btn-aluminium:active,
.btn-group.open .et-btn-aluminium
{
	border-color: #c0c0c0 !important;
	background-color: #c0c0c0 !important;
}

.et-btn-charcoal
{
	border-color: #b9b9b9 !important;
	background-color: #b9b9b9 !important;
	color: #ffffff;
}

.et-btn-charcoal:hover, .et-btn-charcoal:active,
.btn-group.open .et-btn-charcoal
{
	border-color: #9d9d9d !important;
	background-color: #9d9d9d !important;
	color: #ffffff;
}
