@import '../server/ui/fonts/ProximaNova.css';

body
{
	font-family: 'Proxima Nova Regular';
}

.btn
{
	text-transform: uppercase;
	/*font-weight: bold;*/
}

.et-btn-white
{
	color: #111111 !important;
}
.et-btn-white:hover,
.et-btn-white:active,
.btn-group.open .et-btn-white
{
	border-color: #dddddd !important;
	background-color: #dddddd !important;
	color: #111111 !important;
}

.CodeMirror
{
	font-family: monospace;
	font-size: 18px;
	height: 100%;
}

.ui-layout-pane
{
	background: #FFF;
	border: 1px solid #BBB;
	padding: 0px;
	overflow: auto;
}

#toolbar
{
	color: #111111;
	background-color: rgb(230,230,230);
	border: 0px solid #BBB;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #BBB;
	padding: 0px;
	font-size: 0.8em;
	font-family: Sans-serif;
}

#toolbar .btn
{
	text-transform: uppercase !important;
}

/*
button
{
	line-height: normal;
}

.btn
{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
*/

#code-area
{
	padding: 0px;
	margin: 0px;
}

#result-area
{
	padding: 0px;
	margin: 0px;
}

#result-editor
{
}
