.CodeMirror
{
	font-family: monospace;
	font-size: 18px;
	height: 100%;
}

.ui-layout-pane
{
	background: #FFF;
	border: 1px solid #BBB;
	padding: 0px;
	overflow: auto;
}

#toolbar
{
	color: #111111;
	background-color: rgb(230,230,230);
	border: 0px solid #BBB;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #BBB;
	padding: 0px;
	font-size: 0.8em;
	font-family: Sans-serif;
}

#toolbar .btn
{
	text-transform: uppercase !important;
}

button
{
	line-height: normal;
}

.unused-btn
{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#code-area
{
/*
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0px;
	*/
}

#result-area
{
/*
	position: absolute;
	left: 100px;
	top: 2.5em;
	right: 0px;
	bottom: 0px;
	padding: 0px;
*/
	padding: 0px;
	margin: 0px;
}

#result-editor
{
/*
	position: absolute;
	left: 100px;
	top: 2.5em;
	right: 0px;
	bottom: 0px;
	padding: 0px;
*/
}

